*{
    font-family: "Montserrat", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    background-color: grey;
}
.calculator {
    background: #383B5B;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 20px 30px 20px;
    width: 600px;
    height: 600px;
}
#display {
    margin-top: 4%;
    width: 80%;
    margin-left: 7%;
    height: 90px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    border: 6px solid black;
    border-radius: 20px;
    margin-right: 3px;
    text-align: right;
    background-color: #e9ecef;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7%;
    gap: 20px;
}
button {
    height: 50px;
    font-size: 22px;
    background-color: #6C63FF;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background: #928DAB;
    transform: translateY(-2px);
}
button:active {
    background: #383B5B;
    transform: translateY(0);
}
h1{
    text-decoration: underline 3px solid;
    font-size: 55px;
    padding: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #383B5B;
    border-radius: 50%;
    box-shadow: 10px 10px 10px  #e9ecef;
}
h1:hover{
    transform: translateY(-5px);
    transition: 1s ease-in-out;
}
